* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Head - Nav */
.head {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px #14141417;
  z-index: 2;
}

.nav ul {
  display: flex;
}
.nav ul li {
  margin-left: 20px;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  color: #141414dc;
  font-size: 18px;
  font-weight: 600;
}
.nav ul li:hover a {
  text-decoration: underline;
  background-color: rgb(255, 108, 54);
  padding: 3px 5px;
  border-radius: 10px;
  color: #fff;
}
/* Home Sec */
.main {
  padding: 30px;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e4e8;
  margin-bottom: 50px;
}

.main .main-content {
  margin-top: -150px;
  margin-right: 100px;
}
.main .main-content h1 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
}

.main .main-content h2 {
  margin-top: 20px;
}

.main-img img {
  width: 100%;
}
.social-media {
  margin-left: 20px;
  margin-top: 20px;
  width: 190px;
  display: flex;
  justify-content: space-around;
}
.social-media .icon {
  margin: 5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 7px 12px;
  cursor: pointer;
  transition: 0.5s;
}
.social-media .icon:hover {
  background-color: rgb(255, 106, 0);
  transform: scale(0.9);
}
.social-media .icon a {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.733);
}
.social-media .icon:hover a {
  color: #fff;
}
/* about us Sec */
.about {
  padding-top: 80px;
  width: 80%;
  margin: auto;
  height: 400px;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about .about-img {
  padding: 30px;
  width: 50%;
}
.about .about-img img {
  width: 400px;
  height: 300px;
}

.about .about-content {
  width: 50%;
  padding: 30px;
}
.about .about-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.about .about-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.about .about-content a {
  padding: 15px 30px;
  border: none;
  background-color: coral;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.about .about-content a:hover {
  transform: scale(1.2);
}
/* skills Sec */
.skills-sec {
  padding-top: 80px;
  margin-top: 50px;
  padding: 30px;
  display: flex;
  width: 90%;
  height: 350px;
  margin: auto;
}
.skill-content {
  width: 50%;
}
.skill-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.skill {
  width: 400px;
  height: 50px;
}
.skill-bar {
  width: 100%;
  border: 1px solid;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.html-skill {
  display: block;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(123, 123, 233);
}
.css-skill {
  display: block;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(123, 123, 233);
}
.js-skill {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(123, 123, 233);
}
.c-skill {
  display: block;
  width: 95%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(123, 123, 233);
}

.skill-img img {
  height: 250px;
}
/* team sec */

.team-sec {
  padding-top: 80px;
  margin-bottom: 50px;
}
.team-sec h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.our-team {
  width: 80%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.our-team .team {
  width: 300px;
  height: auto;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}
.our-team .team:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.24);
  transform: scale(1.1);
}
.our-team .team .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team .team h2,
h3,
p {
  text-align: center;
  margin-top: 10px;
}

/* contact sec */
.contact-sec {
  margin-top: 30px;
  width: 90%;
  height: 600px;
  margin: auto;
}
.contact-sec h1 {
  text-align: center;
  font-size: 40px;
}
.contact-sec .contact {
  display: flex;
  justify-content: space-between;
}
.contact-sec .contact .contact-form {
  padding: 30px;
  width: 50%;
  height: 500px;
}
.contact-form .form-field {
  width: 100%;
  /* height: 50px; */
  margin-bottom: 20px;
}
.contact-form .form-field input {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
.contact-form .form-field textarea {
  width: 400px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
}
.contact-form .form-field button {
  border: none;
  padding: 7px 25px;
  background-color: coral;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form .form-field button:hover {
  transform: scale(0.9);
}

.contact-sec .contact .map {
  width: 50%;
  height: 500px;
}

/* footer sec */
.footer {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.774);
  padding: 10px 30px;
}
.footer h2 {
  text-align: center;
  color: #fff;
}
